<div class="{% if style == 'bordertop' %}border-top{% endif %} {% if style == 'dark' %}border-hover border-dark {% else %}border-hover{% endif %}">
  <div class="border-outer"></div>
  <div class="border-inner"></div>
</div>