<div style="margin: {{ top }} auto {{ bottom }}" 
  class="{% if style == 'bordertop' %}border-top animate{% elsif style == 'bordertoplight' %}border-top border-top-light animate{% elsif style == 'dark' %}border-hover border-dark {% else %}border-hover border-light{% endif %}">
  <div class="border-outer"></div>
  <div class="border-inner"></div>
</div>