{% if enable %}
<div class="main-border" style="padding: {{ top }}px 0 {{ bottom }}px 0" >
  <div  class="{% if style == 'bordertop' %}border-top animate{% elsif style == 'bordertoplight' %}border-top border-top-light animate{% elsif style == 'dark' %}border-hover border-dark {% else %}border-hover border-light{% endif %}">
  <div class="border-outer"></div>
  <div class="border-inner"></div>
</div>
</div>
  {% endif %}