<div class="{% if style == 'bordertop' %}border-top{% endif %} {% if style == 'dark' %}border-hover border-dark {% else %}border-hover{% endif %}">
  <div class="image"></div>
  <div class="overlay">
    <div class="text"></div>
  </div>
</div>