

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539288396032377642.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539288396032377642.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539288396032377642.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539288396032377642.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539288396032377642.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539288396032377642.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539288396032377642.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539288396032377642.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539288396032377642.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539288396032377642.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539288396032377642.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539288396032377642.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539288396032377642.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539288396032377642.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539288396032377642.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539288396032377642.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539288396032377642.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539288396032377642.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539288396032377642.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539288396032377642.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539288396032377642.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539288396032377642.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539288396032377642.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539288396032377642.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539288396032377642.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539288396032377642.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539288396032377642.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539288396032377642.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539288396032377642.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539288396032377642.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539288396032377642.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-539288396032377642.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539288396032377642.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-539288396032377642.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539288396032377642.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539288396032377642.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539288396032377642.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539288396032377642.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-539288396032377642.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539288396032377642.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539288396032377642.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539288396032377642.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539288396032377642.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-539288396032377642 .gp-relative{position:relative}.gps-539288396032377642 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539288396032377642 .gp-mb-0{margin-bottom:0}.gps-539288396032377642 .gp-flex{display:flex}.gps-539288396032377642 .gp-grid{display:grid}.gps-539288396032377642 .\!gp-hidden{display:none!important}.gps-539288396032377642 .gp-hidden{display:none}.gps-539288396032377642 .gp-max-w-full{max-width:100%}.gps-539288396032377642 .gp-flex-col{flex-direction:column}.gps-539288396032377642 .gp-gap-y-0{row-gap:0}.gps-539288396032377642 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539288396032377642 .gp-duration-200{transition-duration:.2s}.gps-539288396032377642 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539288396032377642 .tablet\:\!gp-hidden{display:none!important}.gps-539288396032377642 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539288396032377642 .mobile\:\!gp-hidden{display:none!important}.gps-539288396032377642 .mobile\:gp-hidden{display:none}}.gps-539288396032377642 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539288396032377642 .\[\&_p\]\:gp-inline p{display:inline}.gps-539288396032377642 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539288396032377642 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gvYMoonxJ-" data-id="gvYMoonxJ-"
        style="--blockPadding:base;--pt:2px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvYMoonxJ- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLrOsvDavJ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gU_rIhp1yN">
    <div
      parentTag="Col"
        class="gU_rIhp1yN "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggU_rIhp1yN_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR23wRmYJp8I5zzw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3wRmYJp8I5.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-539288396032377642 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/shop-serah-1/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=539282714545619964&sectionId=539288396032377642)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggU_rIhp1yN_text","label":"ggU_rIhp1yN_text","default":"<span style=\"font-size:18px;\"><strong>Follow us </strong></span><a href=\"https://www.instagram.com/shop_serah\"><span style=\"font-size:18px;\"><strong><u>@shop_serah</u></strong></span></a>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
